<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="/static/folium/leaflet.js"></script>
    <script src="/static/folium/jquery-1.12.4.min.js"></script>
    <script src="/static/folium/bootstrap.min.js"></script>
    <script src="/static/folium/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="/static/folium/leaflet.css"/>
    <link rel="stylesheet" href="/static/folium/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/folium/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/folium/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/folium/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ba13d0a4e6d244a585c1169c4f212410 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ba13d0a4e6d244a585c1169c4f212410" ></div>
        
</body>
<script>    
    
            var map_ba13d0a4e6d244a585c1169c4f212410 = L.map(
                "map_ba13d0a4e6d244a585c1169c4f212410",
                {
                    center: [38.1989055, 114.62789366666668],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fce28cf8a26b4daf9ea8991f4e7fb99f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
            var poly_line_d1c902fb0db844578ea2704701d6820a = L.polyline(
                [[38.264878, 114.645441], [38.274778, 114.697343], [38.264878, 114.645441], [38.295378, 114.751274], [38.004447, 114.50932], [38.089074, 114.518543]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
            var poly_line_50cd86889da6490c94bbf598a5b3413f = L.polyline(
                [[38.264878, 114.645441], [38.274778, 114.697343], [38.264878, 114.645441], [38.295378, 114.751274], [38.004447, 114.50932], [38.089074, 114.518543]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
            var marker_229a54b8571342b5897189ae3622fa56 = L.marker(
                [38.264878, 114.645441],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_36c8ea89446342f2b8f074d294563b93 = L.popup({"maxWidth": "100%"});

        
            var html_3eef8e2c878f4b18a4aae3e93316e67d = $(`<div id="html_3eef8e2c878f4b18a4aae3e93316e67d" style="width: 100.0%; height: 100.0%;"><b>地点: 藁城区刘家佐村收购点<br>时间: 2020-12-18T16:00:00</b></div>`)[0];
            popup_36c8ea89446342f2b8f074d294563b93.setContent(html_3eef8e2c878f4b18a4aae3e93316e67d);
        

        marker_229a54b8571342b5897189ae3622fa56.bindPopup(popup_36c8ea89446342f2b8f074d294563b93)
        ;

        
    
    
            var marker_7200920162564e7e81f4609db175348d = L.marker(
                [38.274778, 114.697343],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_48d87e2c53bf4e3189e5432794c6a3b1 = L.popup({"maxWidth": "100%"});

        
            var html_e04c2b12b6174fbea915175e4e37aaa8 = $(`<div id="html_e04c2b12b6174fbea915175e4e37aaa8" style="width: 100.0%; height: 100.0%;"><b>地点: 机场北路附近欧景生态苑<br>时间: 2020-12-27T16:00:00</b></div>`)[0];
            popup_48d87e2c53bf4e3189e5432794c6a3b1.setContent(html_e04c2b12b6174fbea915175e4e37aaa8);
        

        marker_7200920162564e7e81f4609db175348d.bindPopup(popup_48d87e2c53bf4e3189e5432794c6a3b1)
        ;

        
    
    
            var marker_dd55dab0898044acbbe196510c2a41a2 = L.marker(
                [38.264878, 114.645441],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_f7a26635ca764dc2bc9aa27f09a1e8b3 = L.popup({"maxWidth": "100%"});

        
            var html_100923fa19044c149f74556c85f87443 = $(`<div id="html_100923fa19044c149f74556c85f87443" style="width: 100.0%; height: 100.0%;"><b>地点: 藁城区刘家佐村收购点<br>时间: 2020-12-28T16:00:00</b></div>`)[0];
            popup_f7a26635ca764dc2bc9aa27f09a1e8b3.setContent(html_100923fa19044c149f74556c85f87443);
        

        marker_dd55dab0898044acbbe196510c2a41a2.bindPopup(popup_f7a26635ca764dc2bc9aa27f09a1e8b3)
        ;

        
    
    
            var marker_94dfbaef7d094911bd445457b0db29a0 = L.marker(
                [38.295378, 114.751274],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_9191061e028549d8ba2f0f142eca0be0 = L.popup({"maxWidth": "100%"});

        
            var html_b95611ecc74d42e694001fc9147d2cf2 = $(`<div id="html_b95611ecc74d42e694001fc9147d2cf2" style="width: 100.0%; height: 100.0%;"><b>地点: 小果庄村附近餐馆建昌饭店<br>时间: 2020-12-28T16:00:00</b></div>`)[0];
            popup_9191061e028549d8ba2f0f142eca0be0.setContent(html_b95611ecc74d42e694001fc9147d2cf2);
        

        marker_94dfbaef7d094911bd445457b0db29a0.bindPopup(popup_9191061e028549d8ba2f0f142eca0be0)
        ;

        
    
    
            var marker_d56ad077b97a47d294a9c3567648c4c7 = L.marker(
                [38.004447, 114.50932],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_b327a2ef588e4e89b65f0ef105fdb85a = L.popup({"maxWidth": "100%"});

        
            var html_b4f908507a7549dea0f1975e2f1f44bd = $(`<div id="html_b4f908507a7549dea0f1975e2f1f44bd" style="width: 100.0%; height: 100.0%;"><b>地点: 石家庄市第五医院<br>时间: 2020-01-02T16:00:00</b></div>`)[0];
            popup_b327a2ef588e4e89b65f0ef105fdb85a.setContent(html_b4f908507a7549dea0f1975e2f1f44bd);
        

        marker_d56ad077b97a47d294a9c3567648c4c7.bindPopup(popup_b327a2ef588e4e89b65f0ef105fdb85a)
        ;

        
    
    
            var marker_dcbfa7febda446b1b3741eda110f84d0 = L.marker(
                [38.089074, 114.518543],
                {}
            ).addTo(map_ba13d0a4e6d244a585c1169c4f212410);
        
    
        var popup_c8bb366d09fa467ca0edf4b7ffef12ac = L.popup({"maxWidth": "100%"});

        
            var html_ea518a24ff5743b4be81c272ab44676d = $(`<div id="html_ea518a24ff5743b4be81c272ab44676d" style="width: 100.0%; height: 100.0%;"><b>地点: 河北省胸科医院<br>时间: 2020-01-06T16:00:00</b></div>`)[0];
            popup_c8bb366d09fa467ca0edf4b7ffef12ac.setContent(html_ea518a24ff5743b4be81c272ab44676d);
        

        marker_dcbfa7febda446b1b3741eda110f84d0.bindPopup(popup_c8bb366d09fa467ca0edf4b7ffef12ac)
        ;

        
    
</script>